In [1]:
import pandas as pd

df = pd.read_csv("Ecommerce- Dataset.csv")

In [2]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Customer_Age,Gender,...,Category,Subcategory,Cost,Discount_Applied,Payment_Method,Promo_Applied,Delivery_Time_Days,Revenue,Profit,Churn_Flag
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,01-12-2009 07:45,6.95,13085.0,United Kingdom,26.0,Female,...,Home Decor,Decor,4.469733,0,Credit Card,0,5,83.4,29.763202,0
1,489434,79323P,PINK CHERRY LIGHTS,12,01-12-2009 07:45,6.75,13085.0,United Kingdom,29.0,Female,...,Toys,Kids,3.282128,0,PayPal,0,9,81.0,41.614466,1
2,489434,79323W,WHITE CHERRY LIGHTS,12,01-12-2009 07:45,6.75,13085.0,United Kingdom,33.0,Female,...,Kitchen,Appliances,4.612600,0,Cash,0,7,81.0,25.648799,1
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,01-12-2009 07:45,2.10,13085.0,United Kingdom,79.0,Female,...,Clothing,Women,1.120376,0,Bank Transfer,0,8,100.8,47.021953,1
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,01-12-2009 07:45,1.25,13085.0,United Kingdom,43.0,Female,...,Clothing,Men,0.848714,0,Cash,0,8,30.0,9.630864,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743486 entries, 0 to 743485
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Invoice             743486 non-null  object
 1   StockCode           743486 non-null  object
 2   Description         739714 non-null  object
 3   Quantity            743486 non-null  int64
 4   InvoiceDate         743485 non-null  object
 5   Price               743485 non-null  float64
 6   Customer ID         573570 non-null  float64
 7   Country             743485 non-null  object
 8   Customer_Age        573570 non-null  float64
 9   Gender              573570 non-null  object
 10  Signup_Date         743485 non-null  object
 11  Last_Login_Date     743485 non-null  object
 12  Customer_Segment    573570 non-null  object
 13  Marketing_Channel   573570 non-null  object
 14  Category            743486 non-null  object
 15  Subcategory         743486 non-null  object
 16  Cost                743485 non-null  float64
 17  Discount_Applied    743486 non-null  int64
 18  Payment_Method      743486 non-null  object
 19  Promo_Applied       743486 non-null  int64
 20  Delivery_Time_Days  743486 non-null  int64
 21  Revenue             743485 non-null  float64
 22  Profit              743485 non-null  float64
 23  Churn_Flag          743486 non-null  int64
dtypes: float64(6), int64(5), object(13)
memory usage: 136.1+ MB

In [4]:
# change the column name form Upper with spaces to lower case with underscore (snake_casing)

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace( ' ' , '_')

In [5]:
df.columns

Index(['invoice', 'stockcode', 'description', 'quantity', 'invoicedate',
       'price', 'customer_id', 'country', 'customer_age', 'gender',
       'signup_date', 'last_login_date', 'customer_segment',
       'marketing_channel', 'category', 'subcategory', 'cost',
       'discount_applied', 'payment_method', 'promo_applied',
       'delivery_time_days', 'revenue', 'profit', 'churn_flag'],
      dtype='object')

In [6]:
# checking duplicate rows

duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows - {duplicate_rows}")

Number of duplicate rows - 0

In [7]:
# checking for null values 

df.isnull().sum()

invoice                    0
stockcode                  0
description             3772
quantity                   0
invoicedate                1
price                      1
customer_id           169916
country                    1
customer_age          169916
gender                169916
signup_date                1
last_login_date            1
customer_segment      169916
marketing_channel     169916
category                   0
subcategory                0
cost                       1
discount_applied           0
payment_method             0
promo_applied              0
delivery_time_days         0
revenue                    1
profit                     1
churn_flag                 0
dtype: int64

In [8]:
# Droppping null value rows
df = df.dropna()

In [9]:
df.isnull().sum()

invoice               0
stockcode             0
description           0
quantity              0
invoicedate           0
price                 0
customer_id           0
country               0
customer_age          0
gender                0
signup_date           0
last_login_date       0
customer_segment      0
marketing_channel     0
category              0
subcategory           0
cost                  0
discount_applied      0
payment_method        0
promo_applied         0
delivery_time_days    0
revenue               0
profit                0
churn_flag            0
dtype: int64

In [10]:
# Standardising Date columns

date_cols = ['invoicedate', 'signup_date', 'last_login_date']

for col in date_cols:
    df[col] = pd.to_datetime(df[col], format='mixed')

In [11]:
# Removing negative values in price and quantity

df = df[(df['quantity'] > 0) & (df['price'] > 0)]

In [12]:
# Ensure churn flag is an integer (not float)

df['churn_flag'] = df['churn_flag'].astype(int)

In [13]:
# chcking the sahpe of the dataset after cleaning & before adding new column

df.shape

(559906, 24)

In [14]:
# Adding column of days a customer first signup to last login

df['tenure_days'] = (df['last_login_date'] - df['signup_date']).dt.days

In [15]:
# Ensuring all tenure days are positive as last login date !< signup date

df = df[(df['tenure_days'] > 0)]

In [16]:
df.head()

,invoice,stockcode,description,quantity,invoicedate,price,customer_id,country,customer_age,gender,...,subcategory,cost,discount_applied,payment_method,promo_applied,delivery_time_days,revenue,profit,churn_flag,tenure_days
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-01-12 07:45:00,6.75,13085.0,United Kingdom,29.0,Female,...,Kids,3.282128,0,PayPal,0,9,81.0,41.614466,1,361
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-01-12 07:45:00,6.75,13085.0,United Kingdom,33.0,Female,...,Appliances,4.612600,0,Cash,0,7,81.0,25.648799,1,145
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-01-12 07:45:00,2.10,13085.0,United Kingdom,79.0,Female,...,Women,1.120376,0,Bank Transfer,0,8,100.8,47.021953,1,2
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-01-12 07:45:00,1.25,13085.0,United Kingdom,43.0,Female,...,Men,0.848714,0,Cash,0,8,30.0,9.630864,0,111
6,489434,21871,SAVE THE PLANET MUG,24,2009-01-12 07:45:00,1.25,13085.0,United Kingdom,21.0,Female,...,Outdoor,0.724196,0,Credit Card,1,6,30.0,12.619295,1,435

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 486348 entries, 1 to 743484
Data columns (total 25 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   invoice             486348 non-null  object
 1   stockcode           486348 non-null  object
 2   description         486348 non-null  object
 3   quantity            486348 non-null  int64
 4   invoicedate         486348 non-null  datetime64[ns]
 5   price               486348 non-null  float64
 6   customer_id         486348 non-null  float64
 7   country             486348 non-null  object
 8   customer_age        486348 non-null  float64
 9   gender              486348 non-null  object
 10  signup_date         486348 non-null  datetime64[ns]
 11  last_login_date     486348 non-null  datetime64[ns]
 12  customer_segment    486348 non-null  object
 13  marketing_channel   486348 non-null  object
 14  category            486348 non-null  object
 15  subcategory         486348 non-null  object
 16  cost                486348 non-null  float64
 17  discount_applied    486348 non-null  int64
 18  payment_method      486348 non-null  object
 19  promo_applied       486348 non-null  int64
 20  delivery_time_days  486348 non-null  int64
 21  revenue             486348 non-null  float64
 22  profit              486348 non-null  float64
 23  churn_flag          486348 non-null  int64
 24  tenure_days         486348 non-null  int64
dtypes: datetime64[ns](3), float64(6), int64(6), object(10)
memory usage: 96.5+ MB

In [18]:
df.shape

(486348, 25)

In [20]:
from sqlalchemy import create_engine

#Connecting to PostgreSQL
username = "postgres"      # default user
password = "admin" # the password you set during installation
host = "localhost"         # if running locally
port = "5432"              # default PostgreSQL port
database = "Ecommerce"    # the database you created in pgAdmin

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

#Loading DataFrame into PostgreSQL
table_name = "churn_rate"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'churn_rate' in database 'Ecommerce'.